{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<h2>Регистрация</h2>
<form method="POST" novalidate>
	{% csrf_token %}
	{% for field in form %}
	<div>
		{{ field }}{{ field.label_tag }}
		 {% if field.errors %}
			 {% for error in field.errors %}
			 <p style="color: brown;">{{ error }}</p>
			 {% endfor %}
		 {% endif %}
	</div>
	{% endfor %}
	<input type="submit" value="Зарегистрироваться" />
</form>
<p>Уже есть аккаунт? <a href="{%url 'login' %}">Войти</a></p>
{% endblock content%}