{% extends 'base_tamagotchi.html' %}
{% load static %}

{% block title %}Тамагочи{% endblock %}

{% block content %}
<img src="{% static 'svg/info.svg' %}" class="info-button" onclick="show_banner('info')">
<p class="round-border" id="actionButton" onclick="execute_operation()">{% if tamagotchi.Tamagotchi_Mood.is_in_rest %}Проснуться{% else %}Лечь спать{% endif %}</p>
<div class="tamagotchiCharacter" style="background-image: url('{{ tamagotchi.Tamagotchi_Look.tamagotchi_type.image.url }}')">
    <div style="background-image: url('{{ tamagotchi.Tamagotchi_Look.hat.image.url }}')">
    </div>
</div>
<div class="overlap-info hiden visible" id="info">
    <p id="infoText">В гостинной вы можете восполнить силы своего питомца, отправив его спать <br><br><span style="font-style: italic;">Сон востанавливает <b>бодрость</b>, но сильно увеличивает чувство <b>голода</b></p>
</div>
<div class="overlap-goto hiden" id="goto">
    <div>
        <p style="display: none" onclick="updateRoom('living_room')" id="updateLiving_room">В гостинную</p>
        <p onclick="updateRoom('kitchen')" id="updateKitchen">На кухню</p>
        <p onclick="updateRoom('bathroom')" id="updateBathroom">В ванную комнату</p>
        <p onclick="updateRoom('playground')" id="updatePlayground">Во двор</p>
    </div>
</div>
<div class="overlap-stats hiden" id="stats">
    <div>
        <div class="stat">
            <div class="overlap-img" style="width: {{ tamagotchi.Tamagotchi_Mood.health }}%;" id="tamagotchiHealth">
                <img src="{% static '/img/full_health.png' %}">
            </div>
            <img class="back-img" src="{% static '/img/health.png' %}">
        </div>
        <div class="stat">
            <div class="overlap-img" style="width: {{ tamagotchi.Tamagotchi_Mood.hunger }}%;" id="tamagotchiHunger">
                <img src="{% static '/img/full_hunger.png' %}">
            </div>
            <img class="back-img" src="{% static '/img/hunger.png' %}">
        </div>
        <div class="stat">
            <div class="overlap-img" style="width: {{ tamagotchi.Tamagotchi_Mood.rest }}%;" id="tamagotchiRest">
                <img src="{% static '/img/full_rest.png' %}">
            </div>
            <img class="back-img" src="{% static '/img/rest.png' %}">
        </div>
    </div>
</div>
<div class="overlap-market hiden" id="market">
    <p>
        У вас <span id="numberOfClick">{{ tamagotchi.Tamagotchi_Mood.number_of_click }}</span> очков. <a href="/clicker/">В Кликер</a>
        <a class="round-border" onclick="show_banner('market')">Закрыть</a>
    </p>
    
    <div class="shipping-item">
        <img src="{% static 'svg/food/cherry.svg' %}" class="round-border">
        <p><b>Вишня</b><br>+5.0 Голода, -2.0 Бодрости, +2.0 Здоровья <br>Цена: <b>200 points</b></p>
        <p class="round-border" onclick="buy('cherry')">Купить</p>
    </div>
    <div class="shipping-item">
        <img src="{% static 'svg/food/cake.svg' %}" class="round-border">
        <p><b>Торт</b><br>+7.5 Голода, -5.0 Бодрости, -2.0 Здоровья <br>Цена: <b>250 points</b></p>
        <p class="round-border" onclick="buy('cake')">Купить</p>
    </div>
    <div class="shipping-item">
        <img src="{% static 'svg/food/pizza.svg' %}" class="round-border">
        <p><b>Пицца</b><br>+10.0 Голода, -4.0 Бодрости, -3.0 Здоровья <br>Цена: <b>350 points</b></p>
        <p class="round-border" onclick="buy('pizza')">Купить</p>
    </div>
    <div class="shipping-item">
        <img src="{% static 'svg/food/sushi.svg' %}" class="round-border">
        <p><b>Суши</b><br>+3.0 Голода, -2.0 Бодрости, 0.0 Здоровья  <br>Цена: <b>150 points</b></p>
        <p class="round-border" onclick="buy('sushi')">Купить</p>
    </div>
    <div class="shipping-item">
        <img src="{% static 'svg/food/tea.svg' %}" class="round-border">
        <p><b>Чай</b><br>-2.0 Голода, +3.0 Бодрости, +0.5 Здоровья <br>Цена: <b>100 points</b></p>
        <p class="round-border" onclick="buy('tea')">Купить</p>
    </div>
</div>
<div class="overlap-night hiden {% if tamagotchi.Tamagotchi_Mood.is_in_rest %}visible{% endif %}" id="night">
</div>


<script src="{% static 'js/main_tamagotchi.js' %}"></script>
{% endblock %}