{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<h1 class="pixel-background">Профиль</h1>
{% if not_exists %}
<h2 style="margin-top: 50px;">У вас еще нет тамагочи? <a href="{% url 'create' %}">Создайте его скорее</a></h2>
{% else %}
<h2 style="margin:20px;">С возвращением, {{ request.user.username }}!</h2>
<div class="tamagotchiCharacter" style="background-image: url('{{ tamagotchi.Tamagotchi_Look.tamagotchi_type.image.url }}')">
    <div style="background-image: url('{{ tamagotchi.Tamagotchi_Look.hat.image.url }}')">
    </div>
</div>
<p style="width: 300px; margin: auto;">Ваш тамагочи, <b>{{ tamagotchi.Tamagotchi_Character.name }}</b>. Уже соскучился по вам! Возвращайтесь к нему быстрее!</p>
{% if messages %}
{% for message in messages %}
<p style="color: brown;">{{ message }}</p>
{% endfor %}
{% endif %}
<a href="{%url 'tamagotchi_game' %}" style="margin-top: 15px;" class="pixel-background">К тамагочи</a>
<a href="{%url 'sign_out' %}" style="color: brown;">Выйти из профиля</a>
{% endif %}
{% endblock %}