{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tamagochi | {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="icon" type="image/x-icon" href="{% static 'img/icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/normalise.css' %}">
    <link rel="stylesheet" href="{% static 'css/tamagotchi-game.css' %}">
</head>
<body id="roomBackground">
    <header>
        <div>
            <p id="clock">00:00</p>
        </div>
        <img src="{% static 'svg/phone-signal.svg' %}" alt="|||" class="internet-indicator">
    </header>
    {% block content %}

    {% endblock %}
    <footer>
        <a onclick="show_banner('stats')"><img src="{% static 'svg/heart.svg' %}"></a>
        <a href="{% url 'custom' %}"><img src="{% static 'svg/hanger.png' %}"></a>
        <a href="{% url 'clicker' %}"><img src="{% static 'svg/coin.png' %}"></a>
        <a onclick="show_banner('goto')"><img src="{% static 'svg/location.svg' %}"></a>
    </footer>
    <script type="text/javascript" src="{% static 'js/tamagotchi.js' %}"></script>
</body>
</html>